body {
  border: 0px;
  color: #570A57;
  padding-bottom: 0px;
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.middle-container {
  margin: 10%;
}

.bottom-container {
  padding: 2% 0 1%;
}

.contact-me {
  margin: 10% 20% 5% 20%;
}

.ltwlast {
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
}

.form-control {
  margin: 8% 0 4% 0;
}

.copyright {
  padding: 2%;
  color: #ASD856;
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: black;
}

.footer {
  padding: 0px 0px;
  height: 0;
  background: #f7f7f7;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
